<section
    id="inicio"
    class="relative h-screen w-full bg-[url('/backgroud.jpg')] bg-cover bg-center bg-no-repeat flex items-center justify-center"
>
    <div class="absolute inset-0 bg-black/40"></div>

    <div class="relative z-10 text-center text-white px-4">
        <h1 class="text-5xl md:text-7xl font-bold tracking-tight">
            Bienvenido a Store 21
        </h1>
        <p class="mt-4 text-lg md:text-2xl text-white/80">
            Las mejores prendas para de la ciudad sorpresa.
        </p>
    </div>
</section>
